html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.header {
    padding-top:10px;
    background: rgba(177, 177, 177, 0.8);
}

h1 {
    text-align: center;
    font-size:200%;
    color:white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display:inline-block;
    width: 33.33%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #009900;
}

.active {
    background-color: #4CAF50;
}

#mainVideos {
    border: 4px solid black;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    color: black;
    background: rgba(255, 255, 255, 0.9);
}

.newsElement {
    color: white;
    text-align: center;
}

.mainVideos {
    padding-top:10px;
    background: rgba(177, 177, 177, 0.5);
}

img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: white;
    text-decoration: none;
    font-style: italic;
}

iframe {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px
}

#footer {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

div.videoElements {
    border: 2px solid black;
}